.jumbotron {
               background: linear-gradient(45deg,#ff2f00,#ffa722,#ffff16,#92ff16,#19f3dd,#1921f3,#aa19f3);
               font-family: 'Fahkwang', sans-serif;
}

 .col_1 {
 	background-color: transparent;
 	height: 200px
 }

  .col_2 {
 	background-color: transparent;
 	height: 200px
 }

 }

#messageform{
	padding: 30px 8%;
}

body {
	background-color:#fff9d0 ;
font-family: 'Abril Fatface', cursive;
}









